nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: #fdb0fd;
}
nav ul li {
  float: left;
}
nav ul li a {
  font-family: Verdana;
  display: block;
  background-color: #ff00ff;
  color: black;
  text-align: center;
  font-size: 1em;
  margin: 0px 5px;
  padding: 5px 5px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #900090;
}

body {
  background-color: rgb(225, 238, 255);
  font-family:Georgia;
  font-size: 20px;
}
h1 {
  font-family: "Boldonse", system-ui;
  transition: color 1s;
}
h1:hover {
  color: red;
}
h2 {
  font-family: "Boldonse", system-ui;
  color: rgb(66, 53, 64);
  border: 5px black dotted;
  display: inline-block;
  padding: 2px;
  transition: color 0.2s;
}
h2:hover {
  color: blue;
}
img {
  border: 10px ridge blue;
  margin-left: 10%;
  width: 300px;
}
p {
  width: 80%;
  text-shadow: 2px 2px 6px rgb(100, 100, 221);
  transition: background-color 0.5s;
}
p:hover {
  background-color: #fdb0fd;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 16px;
    background-color: rgb(221, 255, 213);
    font-family:Arial, Helvetica, sans-serif
  }
}

@media screen and (min-width: 1100px) {
  body {
    font-size: 18px;
    background-color: rgb(247, 255, 137);
    font-family:monospace
  }
  nav ul {
    font-size: 32px;
    li a {
        padding: 5px 15px;
        margin: 0px 15px;
    }
  }
}
